@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: #000;

}


.meConheca::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.7s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.titulomod {
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-Bottom: 30px;
    padding: 10px;
    color: #F2F2F2;
    background:linear-gradient(to bottom,#00001f,#000002,#000) ;
    font-family: 'Nova Square', sans-serif;
    height: 100px;
    
}

.containerModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 2;
}


.modal h2 {
    font-family: 'Open Sans', sans-serif;
}

.modal {
    display: inline-block;
    text-align: center;
    align-items: center;
    position: relative;
    width: 95vw;
    height: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    color: #D3D3D3;
    font-family: 'Nova Square', sans-serif;
    margin-top: -10px;
    text-align: justify;
    line-height: 1.6em;

}

.modal img {
    height: 570px;
    border-radius: 5px;
}
/*MODAL INDIVIDUAL CERTIFICADO*/


.contmodalindividual {
    background-color: red;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);

}

.certindividual {
    background-color: green;
    height: 500px;
    width: 800px;
    position: relative;
}

.certindividual img {
    height: 500px;
    width: 800px;
    margin-bottom: 10px;
    
}





.containerclose {
    display: flex;
    justify-content: flex-end;
}


.close {

    cursor: pointer;
}
.modal h1{
    margin-bottom: 50px;
}






.cert,
.desc,
.descvd {
    display: none;
}
.container-certificado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #000015;

}



.container-certificado:hover .titulo,
.container-certificado:hover .cert{
    display: block;
    color: #DDD;
}

.container-certificado:hover .desc{
    display: block;
    color:#0071b7 ;
}

.container-certificado:hover .descvd{
    display: block;
    color: #ff004e;
}

.areacontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:linear-gradient(to bottom, #0001, #111 ,#00000a);
    
}



.certificado{
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 390px;
    height: 344px;
    position: absolute;
    cursor: pointer;

}



.certificado .cert {
    width: 190px;
    height: 160px;
}


.certificado:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Open Sans', sans-serif;
}




.container-certificado img {
    width: 380px;
    height: 320px;
    border-radius: 5px;
}

.h1section {

}

.pjEstudo {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    flex: 1;
}

.h1Projetos {


}
.h1section {
    height: 100px;
}




.sectionProjetos {
    background-color: red;

}